*{
    background-color: white;
    font-family: cursive;
}
h1{
    background-color: black;
    color: white;
}
h2{
    background-color: purple;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
#voidstar{
    background-color: rgb(75, 134, 168);
    color: rgb(29, 27, 27);
    text-decoration: underline;
    text-align: right;
    font-family: sans-serif;
}
.voidstar{
    color: aqua;
    background-color: black;
}
